html,body{width:100%;height:100%;overflow:hidden;padding:0px;margin:0px;font-family:Arial;font-size:15px;}
body{background:#d6e1e6;}
.tl_pane,.tl_window{background:#FFF;border-color:#CDF;color:#333;}
.tl_heading,.tl_win_heading{color:#FFF;background-image:url('headingBg.png');background-color:#0AE;text-indent:8px;line-height:30px;height:30px;border:1px solid #CDF;margin:0px 0px 5px 0px;letter-spacing:1px;}
.tl_content{padding:5px;}
.tl_link{color:#06C;font-size:12px;white-space:nowrap;}
.tl_link:visited{color:#0AE;}
.tl_link:hover{color:#000;}
.tl_divisor_horizontal,.tl_divisor_vertical,.tl_resizer{background-color:#CDF;border-color:#CDF;cursor:pointer;}
.tl_divisor_horizontal{background-image:url('divisorHorizontal.png');cursor:s-resize;}
.tl_divisor_vertical{background-image:url('divisorVertical.png');cursor:w-resize;}
.tl_resizer{background-image:url('resizer.png');cursor:se-resize;}
.tl_accordion{background:#FFF;}
.tl_tab,.tl_menu_item,.tl_menu_active{border-color:#CDF;background-color:#e6f1f6;color:#666;line-height:28px;text-align:center;background-image:url('headingBg.png');cursor:pointer;}
.tl_divisor_horizontal:hover,.tl_divisor_vertical:hover,.tl_tab:hover,.tl_resizer:hover{background-color:#b7dbff;font-weight:bold;}
.tl_tabs_main,.tl_accordion_main{border-color:#CDF;background:#FFF;}
.tl_active{background-color:#06C;}
.tl_activeTab,.tl_activeTab:hover{background-image:url('headingBg.png');background-color:#0AE;color:#FFF;font-weight:bold;}
.tl_underlay{background:#FFF;opacity:0.5;}
.tl_shadow{background:#000;opacity:0.5;}
.tl_closeBtn{background-image:url('closeBtn.png');cursor:pointer;}
.tl_closeBtn:hover{background-color:#b7dbff;}
.tl_layout{overflow:hidden;}
.tl_win_heading{cursor:pointer}
.tl_menu{width:200px;background:#d6e1e6;}
.tl_menu_link{color:#666;text-decoration:none;display:block;width:100%;text-align:center;}
.tl_menu_link:hover,.tl_menu_active{font-weight:bold;}
