#if($codeBlocks.size())
    <div class="doc4js-codeBlocks">
        #foreach($codeBlock in $codeBlocks)
            #if($codeBlock.type.toString() != "DISPLAYED_NOT_RUNNABLE")
                #set($functionName = $functionName + 1)
                <script type="text/javascript">
                    doc4js.functions['$functionName'] = function(){
                        $codeBlock.code
                    }
                    #if($codeBlock.type.toString() == "STATIC_HIDDEN" || $codeBlock.type.toString() == "STATIC_DISPLAYED")
                        doc4js.onLoad.push('$functionName');
                    #end
                </script>
            #end
            
            #if($codeBlock.type.toString() != "STATIC_HIDDEN")
                <div class="doc4js-codeBlock">
                    <h4>Example</h4>
                    #if($codeBlock.description)
                        <p class="doc4js-codeBlock-description">$codeBlock.description</p>
                    #end
                    <pre class="doc4js-codeBlock-code">$codeBlock.code</pre>
                    #if($codeBlock.type.toString() == "ONCLICK")
                        <button class="doc4js-codeBlock-run" onclick="doc4js.functions['$functionName']()" />Execute</button>
                    #end
                </div>
            #end
        #end
    </div>
#end