<div class="doc4js-function">
    <a id="$function.path()"></a>
    <h3 class="doc4js-function-name"><span class="doc4js-heading-JSFunction">$function.key</span></h3>
    #if($function.description)
        <p class="doc4js-function-description">$function.description</p>
    #end
    #if($function.paramSets.size() > 0)
        <div class="doc4js-function-paramSets">
            #if($function.paramSets.size() > 1)
                <h4>Parameter Sets</h4>
            #end
            <div class="doc4js-paramSets">
            #foreach($paramSet in $function.paramSets)
                #parse( "includes/paramSet.html" )
            #end
            </div>
        </div>
    #end
    
    #set($codeBlocks = $function.codeBlocks)
    #parse("includes/codeBlocks.html")
    
    #set($references = $function.references)
    #parse("includes/references.html")
</div>