#macro( renderMenuItem $element )
    #if($element.children.size() > 0)
        <ul>
        #foreach($child in $element.children)
            <li class="doc4js-menu-item-$child.type">
                <a class="doc4js-menu-link-$child.type" href="#$child.path()">$child.key</a>
                #renderMenuItem($child)
            </li>
        #end
        </ul>
    #end
#end

<div class="doc4js-menu" id="doc4js-menu">
    #renderMenuItem( $root )
</div>