<div class="doc4js-paramSet">
    
    #if($paramSet.description)
        <p class="doc4js-paramSet-description">$paramSet.description</p>
    #end
    
    #if($paramSet.params.size() > 0)
        <div class="doc4js-params">
            <h4>Parameters</h4>
            #foreach($param in $paramSet.params)
                <div class="doc4js-param">
                    #parse("includes/param.html")
                </div>
            #end
        </div>
    #end
        
    #set($param = $paramSet.returnValue)
    #if($param)
        <div class="doc4js-return">
            <h4>Return</h4>
            #parse("includes/param.html")
        </div>
    #end

    #set($codeBlocks = $paramSet.codeBlocks)
    #parse("includes/codeBlocks.html")
    
    #set($references = $paramSet.references)
    #parse("includes/references.html")
</div>