<div class="doc4js-property">
    <a id="$property.path()"></a>
    <h3 class="doc4js-property-name"><span class="doc4js-heading-JSProperty">$property.key</span></h3>
    #if($property.description)
        <p class="doc4js-property-description">$property.description</p>
    #end
    #if($property.defaultValue)
        <div class="doc4js-property-defaultValue">
            <h4>Default Value</h4>
            <span class="doc4js-property-defaultValue-value">$property.defaultValue</span>
        </div>
    #end
    #set($codeBlocks = $property.codeBlocks)
    #parse("includes/codeBlocks.html")
    
    #set($references = $property.references)
    #parse("includes/references.html")
</div>