#if($references.size())
    <ul class="doc4js-references">
    #foreach($reference in $references)
        <li>
            <a href="#$reference.path">
                <span class="doc4js-reference-path">$reference.path</span>
                #if($reference.description && ($reference.description.length() > 0))
                    <span class="doc4js-reference-description">$reference.description</span>
                #end
            </a>
        </li>
    #end
    </ul>
#end