
html,body{
    height:100%;
    padding:0;
    margin:0;
    font-family:Arial;
    overflow:auto;
}

#doc4js-menu ul{
    padding-left:0;
}

a{
    color: #06c
}

.doc4js-menu{
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    overflow:auto;
    background-color: #c3d9ff;
}

doc4js-menu-layout{
    width:280px;
}

#doc4js-header-layout,#doc4js-content-layout,#doc4js-footer-layout{
    padding-left:280px;
}

.doc4js-header,.doc4js-content,.doc4js-footer{
    background:#FFF;
    padding:5px;
}

.doc4js-content-item-JSClass,.doc4js-content-item-JSNamespace,.doc4js-content-properties,.doc4js-property,.doc4js-content-functions,.doc4js-function,.doc4js-function-paramSets{
    margin:5px;
    padding:0;
    border:1px solid #c3d9ff;
}

h2,h3,h4,h5{
    padding:2px 5px;
    margin:0;
}

.doc4js-content-description,.doc4js-property-description,.doc4js-function-description,.doc4js-param-description,.doc4js-codeBlock-code{
    padding:4px 10px;
    margin:0;
}

.doc4js-content-properties-head,.doc4js-content-functions-head{
    background:#FFF;
}

.tl_divisor_horizontal{
    background-color: #c3d9ff;
    background-image: -webkit-linear-gradient(top, #c3d9ff, #ffffff);
    background-image:    -moz-linear-gradient(top, #c3d9ff, #ffffff);
    background-image:      -o-linear-gradient(top, #c3d9ff, #ffffff);
    background-image:         linear-gradient(to bottom, #c3d9ff, #ffffff);
}

h2,h3,h4,.tl_divisor_vertical,.tl_win_heading{
    background-color: #c3d9ff;
    background-image: -webkit-linear-gradient(left, #c3d9ff, #ffffff);
    background-image:    -moz-linear-gradient(left, #c3d9ff, #ffffff);
    background-image:      -o-linear-gradient(left, #c3d9ff, #ffffff);
    background-image:         linear-gradient(to right, #c3d9ff, #ffffff);
    color: #000;
    font-weight:bold;
}

.doc4js-menu-item-JSClass{
    background: url('class.png') no-repeat 7px 2px transparent;
    list-style-type: none;
    margin:0;
    padding-left:24px;
}

.doc4js-menu-item-JSFunction{
    background: url('function.png') no-repeat 7px 2px transparent;
    list-style-type: none;
    margin:0;
    padding-left:24px;
}

.doc4js-menu-item-JSNamespace{
    background: url('namespace.png') no-repeat 7px 2px transparent;
    list-style-type: none;
    margin:0;
    padding-left:24px;
}

.doc4js-menu-item-JSProperty{
    background: url('property.png') no-repeat 7px 2px transparent;
    list-style-type: none;
    margin:0;
    padding-left:24px;
}

.doc4js-menu-link-JSElement{
    list-style-type: none;
    margin:0;
    padding-left:24px;
}

.doc4js-heading-JSNamespace,.doc4js-heading-JSClass,.doc4js-heading-JSProperty,.doc4js-heading-JSFunction{
    background-image: url('namespace.png');
    display: block;
    background-repeat: no-repeat;
    background-position: 0px 7px;
    text-indent: 20px;
}

.doc4js-heading-JSClass{
    background-image: url('class.png');
}    

.doc4js-heading-JSProperty{
    background-image: url('property.png');
    background-position: 0px 2px;
}

.doc4js-heading-JSFunction{
    background-image: url('function.png');
    background-position: 0px 2px;
}